/*
* @Author: liushaofei
* @Date:   2017-05-12 16:31:00
* @Last Modified by:   liushaofei
* @Last Modified time: 2017-06-08 16:03:14
*/
.blog-item-box {
	margin: 6px;
	padding: 10px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	box-shadow: 0px 0px 10px 2px #ccc inset;
	-webkit-box-shadow: 0px 0px 10px 2px #ccc inset;
	-moz-box-shadow: 0px 0px 10px 2px #ccc inset;
	-ms-box-shadow: 0px 0px 10px 2px #ccc inset;
	-o-box-shadow: 0px 0px 10px 2px #ccc inset;
	background: rgba(255, 255, 255, 0.2);
}
.blog-item {

	height: 100%;
	transition: all 3s;
}
.blog-con-box {
	font-size: 14px;
}
.blog-all {
	color: #999;
}
.blog-simply span:last-child {
	color: #8590a6;
	cursor: pointer;
	font-size: 16px;
}
.blog-title {
	line-height: 40px;
	color: #ffa500;
	font-size: 16px;
}
.blog-footer {
	padding-top: 14px;
}
.blog-footer i, blog-footer span{
	display: inline-block;
}
.blog-perfect,.blog-comment,.blog-share {
	padding: 4px;
	margin: 0 10px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 2px #ccc;
	cursor: pointer;
}
.blog-perfect:hover,.blog-comment:hover,.blog-share:hover {
	background: #9A5;
}
.blog-perfect i, .blog-comment i, .blog-share i {
	width: 20px;
	height: 20px;
	vertical-align: top;
}
.blog-perfect i {
	background: url('../images/appreciate.png') no-repeat;
	background-size: 20px;
}
.blog-comment i {
	background: url('../images/comment_light.png') no-repeat;
	background-size: 20px;
}
.blog-share i {
	background: url('../images/appreciate.png') no-repeat;
	background-size: 20px;
}

.blog-user-comment {
	border: 1px solid #fff;
	border-radius: 4px;
	margin-top: 20px;
}
.blog-user-comment .comment-num {
	line-height: 40px;
	padding: 0 10px;
}
.comment-operate {
	border-top: 1px solid #fff;
}
.comment-commit {
	position: relative;
	padding: 10px;
	line-height: 40px;
	padding-right: 100px;
}
.comment-commit > div {
	padding: 0 6px;
	width: 100%;
	min-height: 28px;
	line-height: 28px;
	outline:none;
	max-height: 120px;
	overflow: scroll;
	border: 1px solid #fff;
	border-radius: 4px;
}
.comment-commit button {
	position: absolute;
	right: 20px;
	top: 10px;
	line-height: normal;
	padding: 6px 15px;
	border-radius: 2px;
	background: #CD0;
	border: none;
	cursor: pointer;
	color: #fff;
}
.comment-commit button:hover {
	background: #CD9;
}
.comment-con {
	padding: 0 10px;
}
.comment-con-item {
	line-height: 30px;
	margin-bottom: 6px;
	/* border-bottom: 1px solid #fff; */
}
.blog-user-comment {

}










