<div>
    <div class="index-box">
        <div class="article-box">
            <div class="article-year">猎豹</div>
            <div class="aritcle-con-box">
                <div class="article-item">
                    <div class="article-tit clearfix">
                        <a href="#" class="pull-left">猎豹移动cheetah ads广告平台</a>
                        <p class="pull-right article-time">2016年11月--至今</p>
                    </div>
                    <div class="article-con">
                        <div  class="article-con-item">
                            <span>工作内容：</span>
                            <span>负责公司商业部门猎户系统的开发与维护。</span>
                        </div>
                        <div  class="article-con-item">
                            <span>参与人数：</span>
                            <span>5</span>
                        </div>
                        <div  class="article-con-item">
                            <span>采用技术：</span>
                            <span>angularjs、webpack、es6、nodejs、git、npm</span>
                        </div>
                        <div  class="article-con-item">
                            <span>项目描述：</span>
                            <span>猎户广告平台，是一个针对国内海外的多语言平台，面向对象是各个广告主，各个广告主通过cheetah ads可以选择自己需要的广告位并进行交易。cheetah ads所使用的框架是angular，我们leader在angular基础上又做了一层封装，使所有的数据都放在json文件的配置项当中。在和后台交互的实现上，加入了nodejs作为中间层进行转发，使用npm进行包的安装，webpack进行代码的压缩，团队使用git进行代码管理。</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-box">
            <div class="article-year">百分点</div>
            <div class="aritcle-con-box">
                <div class="article-item">
                    <div class="article-tit clearfix">
                        <a href="#" class="pull-left">中经社项目</a>
                        <p class="pull-right article-time">2016年07月--2016年10月</p>
                    </div>
                    <div class="article-con">
                        <div  class="article-con-item">
                            <span>工作内容：</span>
                            <span>负责百分点中经社项目web前端开发。</span>
                        </div>
                        <div  class="article-con-item">
                            <span>参与人数：</span>
                            <span>3</span>
                        </div>
                        <div  class="article-con-item">
                            <span>采用技术：</span>
                            <span>react、webpack、es6、git、npm</span>
                        </div>
                        <div  class="article-con-item">
                            <span>项目描述：</span>
                            <span>该项目是百分点科技有限公司与中经社合作的一个数据展示网站，我在其中负责前期demo页面和实际项目的前端开发工作，这个项目让我对react有了一个深刻的认识，react的组件化开发和jsx等开发模式让我对js有了进一步的认识。</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aritcle-con-box">
                <div class="article-item">
                    <div class="article-tit clearfix">
                        <a href="#" class="pull-left">百分点浙报大数据交易中心项目</a>
                        <p class="pull-right article-time">2016年04月--2016年7月</p>
                    </div>
                    <div class="article-con">
                        <div  class="article-con-item">
                            <span>工作内容：</span>
                            <span>负责百分点均瑶项目web前端开发。</span>
                        </div>
                        <div  class="article-con-item">
                            <span>参与人数：</span>
                            <span>2</span>
                        </div>
                        <div  class="article-con-item">
                            <span>采用技术：</span>
                            <span>angular、svn</span>
                        </div>
                        <div  class="article-con-item">
                            <span>项目描述：</span>
                            <span>该项目是百分点科技有限公司与浙江大数据交易中心合作的一个数据展示网站，我在其中负责后台页面的开发。该项目是我第一次使用angular开发，angular的双向绑定、MVC思想让我印象深刻，从此让我摆脱了jquery的DOM操作的烦恼。</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aritcle-con-box">
                <div class="article-item">
                    <div class="article-tit clearfix">
                        <a href="#" class="pull-left">百分点均瑶心项目</a>
                        <p class="pull-right article-time">2015年10月--2016年4月</p>
                    </div>
                    <div class="article-con">
                        <div  class="article-con-item">
                            <span>工作内容：</span>
                            <span>负责百分点均瑶项目web前端开发。</span>
                        </div>
                        <div  class="article-con-item">
                            <span>参与人数：</span>
                            <span>2</span>
                        </div>
                        <div  class="article-con-item">
                            <span>采用技术：</span>
                            <span>jquery</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aritcle-con-box">
                <div class="article-item">
                    <div class="article-tit clearfix">
                        <a href="#" class="pull-left">百分点广西中烟项目</a>
                        <p class="pull-right article-time">2015年6月--2015年10月</p>
                    </div>
                    <div class="article-con">
                        <div  class="article-con-item">
                            <span>工作内容：</span>
                            <span>负责百分点广西中烟项目web前端开发。</span>
                        </div>
                        <div  class="article-con-item">
                            <span>参与人数：</span>
                            <span>2</span>
                        </div>
                        <div  class="article-con-item">
                            <span>采用技术：</span>
                            <span>jquery</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>