<div>
    <div class="index-box">
    	<div>
    		<p>1、深入理解面向对象编程、MVC等编程思想，深入理解js原型链、继承、闭包、this指向、js异步等原理。</p> 
			<p>2、熟练掌握单例和观察者模式。</p> 
			<p>3、精通JavaScript，CSS，HTML，DOM等前端技术。</p>  
			<p>4、熟练掌握jquery、angular框架的使用，了解react。</p>
			<p>5、熟悉nodejs并对nodejs有浓厚的兴趣。</p>  
			<p>6、熟悉W3C标准。 </p> 
			<p>7、了解bootstrap框架。 </p> 
			<p>8、优秀的团队合作能力，沟通顺畅，追求卓越，乐于创新，敢于尝试。 </p>
			<p>9、知乎：zhihu.com/people/liu-shao-fei </p>
			<p>10、github：https://jackliu0001.github.io/resume/index.html </p>
    	</div>
    </div>
</div>